@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css";
.heading{
  width: 100%;
  background: #fff;
  height: 60px;
  border-bottom: 1px solid #dbdbdb;
  position: fixed;
  top: 0;
  z-index: 50;
}

.cent-head{
  max-width: 1100px;
  display: flex;
  margin: 0 auto;

  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 100px;
}
.head-h1{
  font-family: 'Sansita Swashed', cursive;
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 25px;
}
.search{
  padding: 5px;
  border-radius: 3px;
  border: solid 1px #dbdbdb;
  outline: none;
  font-size: 14px;
  color: #262626;
  text-align: center;
  background: #fafafa;
  width: 215px;
}
.search::-webkit-search-cancel-button{
  -webkit-appearance: none;
  background: url("images/censal.svg");
  width: 17px;
  height: 17px;
  /* Now your own custom styles */

}
.search::placeholder {
  color: #a5a7aa;
}
.search:focus{
  text-align: left;
}
.icon-men{
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  min-width:150px;
}
.it-a{
  display: flex;
}
._8-yf5{
    height: 22px;
    width: 22px;
}
.my-it{
  width: 26px;
  height: 26px;

  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #262626;
  border-radius: 50%;
}
.my-it-img{
  width: 22px;
  height: 22px;
  border-radius: 50%;
}
.head-par{
  display: flex;
  max-width: 1000px;
  margin: 80px auto 40px auto;

}
.par1{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-png{
  max-width: 155px;
  max-height: 155px;
  display: block;
  padding: 5px;
  border:2px solid #dbdbdb;
  border-radius: 50%;
}
.par2{
  width: 60%;
  color: #262626;
}
.h2-inst{
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 300;
  font-size: 28px;
}
.h3-inst{
  font-weight: 300;
}
.a-inst{
  text-decoration: none;
  color: #00376b;
}
.book-box{
  padding: 25px;
  max-width: 1000px;
  border-top: 1px solid #dbdbdb;
  margin:0 auto 40px auto;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;



}
.book{
  width: 230px;
  height: 300px;
  margin: 25px;
  text-decoration: none;
  border-bottom: 1px solid #dbdbdb;
  overflow: hidden;
  transition:transform 0.5s ease-in-out;
}
.book-img{
  width: 230px;
  height: 300px;
  background: #000;

}
.book-image{
  width: 100%;
  height: 100%;
  transition:all 0.5s ease-in-out;
}
.book-name{
  color: #f1f1f1;
  transform: translateY(170px);
  transition:all 0.5s ease-in-out;
  font-weight: bold;
  text-align: center;
}
.book:hover .book-image{
  opacity: 0.3;
}
.book:hover{
  transform: scale(1.05);
}
.book:hover .book-name{
  transform: translateY(-170px);
}
.bot-menu{
  display: none;
}
/*download box*/
.dlod-box{
  min-height: 25vh;
  max-width: 1080px;
  margin:0 auto 40px auto;
  padding:0 40px;
}
.h2_dlod{
  font-weight: 300;
  font-size: 28px;
  border-bottom: 2px solid #dbdbdb;
}
.a_dlod{
  display: block;
  font-size: 18px;
  color: #00376b;
  margin: 7px;
}
@media only screen and (max-width:800px){
  .search{
    display: none;
  }
  .cent-head{
    width: 100%;
    padding: 0 20px  ;
  }

  .main-png{
    max-width: 90px;
    max-height: 90px;
  }
  .par2{
    padding-left: 25px;
  }
  .h2-inst{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 20px;
  }
  .h3-inst{
    font-weight: 300;
    font-size: 17px;
  }
}
@media only screen and (max-width:570px){

  .main-png{
    max-width: 70px;
    max-height: 70px;
  }
  .per1{
    width: 30%;
  }
  .par2{
    width: 70%;
    padding-left: 15px;
  }
  .h2-inst{
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 300;
    font-size: 17px;
  }
  .h3-inst{
    font-weight: 300;
    font-size: 14px;
  }
}
/* Ipad and Ipad Pro responsive 768-1366px*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : portrait){
  .heading , .cent-head{
    height: 85px;
  }
  .head-h1{

    font-size: 40px;
  }
  .search{
    padding: 8px;
    width: 250px;
    font-size: 23px;
  }
  .search::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: url("images/censal.svg");
    width: 23px;
    height: 23px;
    /* Now your own custom styles */

  }
  .icon-men{
    min-width:170px;
  }
  ._8-yf5{
      height: 30px;
      width: 30px
  }
  .my-it{
    width: 36px;
    height: 36px;
  }

  .my-it-img{
    width: 32px;
    height: 32px;
  }
  .h3-inst, .a-inst{
   font-size: 24px;
  }
  /*download box*/
  .dlod-box{
    min-height: 20vh;
    max-width: 1080px;
    margin:0 auto 40px auto;
    padding:0 40px;
  }
  .h2_dlod{
    font-weight: 300;
    font-size: 38px;
    border-bottom: 3px solid #dbdbdb;
  }
  .a_dlod{
    display: block;
    font-size: 26px;
    color: #00376b;
    margin: 7px;
  }
}
/* Phone responsive 180- 768px*/
@media only screen and (min-device-width : 180px) and (max-device-width :  767px) and (orientation : portrait) {
  .heading{
    border-bottom: 5px solid #dbdbdb;
  }
  .heading , .cent-head{
    height: 130px;
  }
  .cent-head{
    padding: 0 50px;
  }
  .head-h1{

    font-size: 65px;
  }
  .search{
    display: none;
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    z-index: 5;
    height: 130px;
    font-size: 40px;
    padding:0 40px;

  }
  .search::-webkit-search-cancel-button{
    -webkit-appearance: none;
    background: url("images/censal.svg");
    width: 50px;
    height: 50px;
    /* Now your own custom styles */

}
  .icon-men{
    min-width:40px;

  }
  ._8-yf5{
      height: 65px;
      width: 65px;
  }
  .home1ic{
    display: none;
  }
  .head-par{
    display: flex;
    max-width: 1000px;
    margin: 180px auto 40px auto;
  }
  .h2-inst{
     font-size: 45px;
  }
  .main-png{
    max-width: 225px;
    max-height: 225px;
    display: block;
    padding: 5px;
    border:2px solid #dbdbdb;
    border-radius: 50%;
  }
  .h3-inst, .a-inst{
   font-size: 38px;
  }
  .book-box{
    max-width: 100%;
    margin:0 auto 180px auto;
  }
  .book{
    width: 300px;
    height: 380px;
    margin:5px;
    text-decoration: none;
    border-bottom: 1px solid #dbdbdb;
    overflow: hidden;
    transition:transform 0.5s ease-in-out;
  }
  .book-img{
    width:300px;
    height: 380px;
    margin: 0;
    background: #000;
  }
  .book-image{
    width: 100%;

    transition:all 0.5s ease-in-out;
  }
  .book-name{
    font-size: 30px;
  }
  .book:hover .book-name{
    transform: translateY(-220px);
  }
  .bot-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    height: 130px;
    width: 100%;
    background: #fff;
    border-top: 5px solid #dbdbdb;
    padding: 0 50px;
    z-index: 50;
  }
  .my-it{
    width: 65px;
    height: 65px;
    display: none;
  }
  .my-it-img{
    width:55px;
    height: 55px;
  }
  .my-it2{
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #262626;
    border-radius: 50%;
  }
  .my-it-img2{
    width:70px;
    height: 70px;
    border-radius: 50%;
  }
  /*download box*/
  .dlod-box{
    min-height: 20vh;
    max-width: 1080px;
    margin:0 auto 40px auto;
    padding:0 40px;
  }
  .h2_dlod{
    font-weight: 400;
    font-size: 50px;
    border-bottom: 2px solid #dbdbdb;
  }
  .a_dlod{
    display: block;
    font-size: 37px;
    color: #00376b;
    margin: 15px;
  }
}
