.contact-list{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	max-width: 70%;
	margin:0 auto;
}
.contact-list2{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	max-width: 100%;
	margin:0 auto;
}
.icon-link{
	display: flex;
	background:#fff;
	width: 60px;
	height: 60px;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	border-radius: 50%;
	margin: 15px 15px;
	box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
				-6px -6px 10px -1px	rgba(255,255,255,0.7);
	border: 1px solid rgba(0,0,0,0.09);
	transition: transform 0.5s;
}
.cont-icon{
	color: #777;
	font-size: 25px;
	transition: transform 0.5s;
}
.icon-link:hover{
	box-shadow: inset 4px 4px 6px -1px rgba(0, 0,0, 0.2),
				inset 4px 4px 6px -1px	rgba(255,255,255,0.7),
				-0.5px -0.5px 0px  rgba(255, 255, 255, 1),
				0.5px 0.5px 0px	rgba(0,0,0,0.15),
				0px 12px 10px -10px	rgba(0,0,0,0.05);
	transform: translateY(2px);
}
.icon-link:hover .cont-icon{
	transform: scale(0.95);
}
@media only screen and (max-width: 800px){
	.contact-list {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
		max-width: 100%;
		margin:0 auto;
	}
	.contact-list2{
	 display: flex;
	 justify-content: flex-start;
	 flex-wrap: wrap;
	 max-width: 100%;
	 margin:0 auto;
 }
}
@media only screen and (max-width: 500px){

	.contact-list2{
	 display: flex;
	 justify-content: center;
	 flex-wrap: wrap;
	 max-width: 100%;
	 margin:0 auto;
 }
}
/* hover */
.icon-link:hover .fa-facebook{
	color: #4267b2;
}
.icon-link:hover .fa-instagram{
	color: #da5556;
}
.icon-link:hover .fa-github{
	color: #000000;
}
.icon-link:hover .fa-youtube{
	color: #fe0000;
}
.icon-link:hover .fa-envelope{
	color: #d54b3d;
}
.icon-link:hover .fa-codepen{
	color: #000000;
}
/* Ipad and Ipad Pro responsive 768-1366px*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : portrait){
  .icon-link{
  	width: 80px;
  	height: 80px;
  }
  .cont-icon{

  	font-size: 35px;

  }
}
/* Phone responsive 180- 768px*/
@media only screen and (min-device-width : 180px) and (max-device-width :  767px) and (orientation : portrait) {
  .icon-link{
  	width: 120px;
  	height: 120px;
  }
  .cont-icon{
  	font-size: 50px;
  }
	.contact-list2{
	 display: flex;
	 justify-content: center;
	 flex-wrap: wrap;
	 max-width: 100%;
	 margin:0 auto;
 }
}
