/* main-menu */
.main-menu{
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000;
  background: #333;
  width: 30%;
  height: 30vh;
  transform: translateX(100%);
  transition: all 0.5s ease;
  border-radius:  0  0 0  80%;
}
.nav-links{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.menuLink{
  display: block;
  text-decoration: none;
  text-align: center;
  color: #fff;
  font-size: 20px;
  opacity: 0;
  position: relative;
  overflow: hidden;
  transition: all 0.5s ease;
  padding: 3px 0;
}
/* a hover */
.hov-line{
  position: absolute;
  transition: transform 0.5s ease;
  z-index: 2;
  width: 100%;
  height: 3px;
  background: linear-gradient(70deg,#0ebeff,#ffdd40,#ae63e4,#47cf73);
  display: block;
  background-size: 400%;
}
.hov-line-to-leftTop{
  top: 0;
  left:0;
  transform: translateX(-150%);
}
.hov-line-to-rightBottom{
  bottom: 0;
  left:0;
  transform: translateX(150%);
}
.menuLink_1:hover .hov-line {
   transform: translateX(0%);
   animation: start 8s linear infinite;
}
.menuLink_1:hover{
   color: #FF6F91;
   letter-spacing: 5px;

}
@keyframes start {
  from{
    background-position: 0%;
  }
  to{
    background-position: 400%;
  }
}
/* a hover end */
.burger{
  display: block;
  position: absolute;
  top: 0;
  left: -64px;
  padding: 15px ;
  background: #333;
  cursor: pointer;
  transition: all 0.5s ease;
}
.burger div{
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition:all 0.5s ease;

}
.toggle .line1{
   transform: rotate(-45deg) translate(-5px,6px );
   background: #FF6F91
}
.toggle .line2{
   opacity: 0;
}
.toggle .line3{
   transform: rotate(45deg) translate(-5px,-6px );
   background: #FF6F91
}
.nav-active{
  transform: translateX(0);
  height: 100vh;
  border-radius:  0  ;
}
@keyframes navLinkFade{
  from{
    opacity: 0;
    transform: translateX(50px);

  }
  to{
    opacity: 1;
    transform: translateX(0);

  }
}
@media only  screen and (max-width:768px) {
  .main-menu{
    width: 100%;
  }
  .phoneMin{
      left: 0;
  }
}
/* Ipad and Ipad Pro responsive 768-1366px*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1366px) and (orientation : portrait){
  .main-menu{
    width: 60%;
  }
  .burger {
    padding: 25px;
    left: -90px;
  }
  .burger div{
    width: 35px;
    height: 5px;

  }
  .toggle .line1{
    transform: rotate(-45deg) translate(-7.9px,6px );
  }
  .toggle .line3{
     transform: rotate(45deg) translate(-7.9px,-6px );
  }
  .menuLink{
    font-size: 28px;
  }
}
/* Phone responsive 180- 768px*/
@media only screen and (min-device-width : 180px) and (max-device-width :  767px) and (orientation : portrait) {
  .main-menu{
    width: 100%;
  }
  .burger {
    padding: 30px;
    left: -125px;
  }
  .burger div{
    width: 50px;
    height: 7px;
    margin: 10px;
  }
  .toggle .line1{
    transform: rotate(-45deg) translate(-17.5px,6px );
  }
  .toggle .line3{
     transform: rotate(45deg) translate(-17.5px,-6px );
  }
  .menuLink{
    font-size: 60px;
  }
  .phoneMin{
      left: 0;
  }
  .hov-line{
    height: 10px;
  }
}
