/*platform */
.platform{
    
    width: 100%;
    max-width: 1200px;
    margin: 130px auto 50px auto;
    position: relative;
    padding: 0 4%;
}
.InPlatform{
   background: #1e1f26;
    border-radius: 6px;
    padding: 3rem 2.5rem;
    position: relative;
    z-index: 1;
}
.platformH2{
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fjalla One', sans-serif;
    line-height: 1.3;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    text-align: center;
    letter-spacing: 1px;
}
.platformH3{
    margin-top: 10px;
    -webkit-font-smoothing: antialiased;
    line-height: 1;
    font-size: 1.5rem;
    font-weight: normal;
    color: #fff;
    letter-spacing: 1px;
}
.platformp{
    color: #c7c9d3;
    font-size: 1.0rem;
     line-height: 1.3
}
.platformA-box{
    display: block;
}
.platformA {
    -webkit-appearance: none;
    font-size: 1rem;
    text-shadow: none;
    line-height: 1.2;
    display: inline-block;
    margin: 15px 2px; 
    padding: 10px 16px; 
    border-radius: 4px;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-decoration: none !important;
    text-align: center;    
    font-weight: normal !important;
}
.green{
    background: #47cf73;
    color: #000;
}
.dark{
    background: #444857;
    color: #fff;
}
.dark:focus , .dark:hover {
    background: #5a5f73;
}
.green:focus , .green:hover {
    background: #2fb45a;
}