html{
       scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  
}
div{
  box-sizing: border-box;
}
/*  */
.loader-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #f1f1f1;
  display:flex;
  justify-content: center;
  align-items: center;
  z-index: 1000
}

.loader-inner {
  position: relative;

   width: 100px;
   height: 100px;
   border-radius:50%;
   margin: 0 30px;
}
.s2{
  position: absolute;
  top:0;
  left:0;
   width: 100px;
  height: 100px;
  border-radius:50%;
  	animation: anim 1s linear infinite;
  background: #000000;
  clip-path: polygon(50% 20%, 20% 100%, 80% 100%);
  transform: rotate(0deg);
}
.s3{
   position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
   background:#f1f1f1;
   width: 90px;
   height: 90px;
   border-radius:50%;
   z-index: 10;

}
.s4{
  position: absolute;
  top:0;
  left:0;
   width: 100px;
  height: 100px;
  border-radius:50%;
  opacity: 0.2;
  background: #252525;
  z-index: 2;
}
@keyframes anim {

  to{
     transform: rotate(360deg);

  }
}
